#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
GenericName=Face
Name=Face
Comment=Unofficial Facebook Desktop
Exec=face --system-login
Icon=face
Terminal=false
Categories=Network;WebBrowser;
X-KDE-StartupNotify=false
